@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500&display=swap');


*{
    box-sizing: border-box;
}

body{
    font-family: 'Mulish', sans-serif;
    background:#f4f4f4;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    overflow: hidden;
}



.container{
    width: 300px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
    border-radius: 5px;
    overflow: hidden;
}


.header{
    background:linear-gradient(
       20deg,
        #4287f5 ,
        #f58442
    );
    color: #fff;
    padding: 30px 30px;
}


.title{
    margin: 0;
}

.subtitle{
    display: inline-block;
    margin: 0 0 20px 0;
    opacity: 0.8;
}


.header .filter{
    width: 100%;
    background: rgba(0,0,0,0.3);
    border: 0;
    border-radius: 50px;
    color: #fff;
    font-size: 14px;
    padding: 10px 15px;
}

.header .filter:focus{
    outline: 0;

}


.userlist{
    margin: 0;
    padding: 0;
    list-style: none;
    background: #fff;
    max-height: 400px;

    overflow-y: auto;
}



.userlist li{
    display: flex;
    padding: 20px;
}


.userlist img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}


.userlist .userinfo{
    margin-left: 10px;
}


.userlist .userinfo h4{
    margin:0 0 10px 0;
}

.userlist .userinfo p{
    font-size: 12px;
}


.userlist li:not(:last-of-type){
    border-bottom: 1px solid #eee;
}



.userlist li.hide{
    display:none;
}




































