*{
    box-sizing:border-box;
}



body{
    font-family: sans-serif;
    background:#000;

    display: flex;

    flex-wrap:wrap;

    margin:0;
    padding-top:3rem;
}


.add{
    background:yellowgreen;
    color:#fff;
    border:none;
    border-radius: 3px;
    cursor:pointer;
    padding:0.5rem 1rem;

    position:absolute;
    top:1rem;
    right:1rem;
}



.note{
    width:300px;
    height:300px;
    background:#f4f4f4;
    border-radius:0 0 30px 0;
    margin:30px 20px;

    overflow:hidden;
}



.note .tools{
    background:yellowgreen;
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
}



.note .tools button{
    background:transparent;
    border:0;
    color:#fff;
    font-size: 1rem;
    margin-left:0.5rem;
    cursor:pointer;
}


.note .tools button:focus{
    outline:0;
}


.note textarea{
    width:100%;
    height:inherit;
    font-family:inherit;
    font-size:1.2rem;
    border:none;
    padding:20px;
     
}

.note textarea:focus{
    outline:0;
}


.main {
    padding:20px;
}

.hidden{
    display:none;
}
















































