@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


*{
    box-sizing: border-box;
}

body{
   
    background:#17e6d1;

    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;

    margin: 0;
    overflow: hidden;
}



.search{
    height: 50px;
    position: relative;

}

.search .input {
    font-family: 'Roboto', sans-serif;
    /* font-family: inherit; */
    width: 50px;
    height: 50px;
    background:#fff;
    border:0;
    font-size: 18px;
    padding:15px;
    
    transition: width 0.3s ease;

}
.search .input::placeholder{
    color: silver;
}


.search .btn{
    width: 50px;
    height: 50px;
    background:#fff;
    border: 0;
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    top: 0;
    left: 0;

    transition: transform 0.3s  ease;
}


.btn:focus,input:focus{
    outline: 0;

}

.search.active  .input{
    width:200px;
}


.search.active .btn{
   transform: translateX(198px);
}











