@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');

*{
    box-sizing: border-box;
}



body{
    font-family: 'Mulish', sans-serif;
    background:#712ef0;
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    margin: 0;
    overflow: hidden;
}



.container{
    background:rgba(0,0,0,0.4);
    padding: 20px 40px;
    border-radius: 5px;
}



.container h1{
    text-align: center;
    margin-bottom: 40px;
}


.form-control{
    width: 300px;
    margin:20px 0 40px;

    position: relative;
}


.form-control .input{
    display: block;

    width: 100%;
    padding: 15px 0;
    font-size: 18px;
    border:none;
    background:transparent;
    border-bottom: 2px solid #fff;
    color:#fff;
    

}


.form-control .input:focus{
    outline: 0;
    border-bottom-color: #2579f7;
    
}

.btn{
    width: 100%;
    cursor: pointer;
    padding: 15px;
    background:#2579f7;
    border: none;
    border-radius: 5px;
    font-family: inherit;
    font-size:16px;

   
}


.btn:focus{
    outline: 0;
}

.btn:active{
    transform: scale(0.98);                         
}


.text{
    margin-top: 30px;
}



.container a{
    text-decoration: none;
    color:#2579f7;
}



.form-control label{
    position: absolute;
    top: 15px;
    left: 0;
}


.form-control label span{
    font-size:18px;
    display: inline-block;

    transition: 0.3s ease;
}


.form-control input:focus + label span,
.form-control input:valid + label span{
    color:#2579f7;
    transform:translateY(-30px);

}














