
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
    box-sizing: border-box;
}


body{
    font-family: 'Roboto', sans-serif;
    background-color: orange;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    flex-direction: column;
    height: 100vh;


    /* margin: 0; */
    overflow: hidden;
}



.controls{
    position: absolute;
    bottom: 20px;
    background-color: rgba(0,0,0,0.1);
    
    padding:10px 20px;
}








































